In [1]:
# 获取 Token
from configparser import ConfigParser
cfg = ConfigParser()
cfg.read('../config.ini')
token = cfg.get('tushare', 'token')
token

# 初始化 tushare
import tushare as ts
ts.set_token(token)
pro = ts.pro_api()

# 股票列表

In [4]:
df = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
df.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

# 交易日历

In [7]:
df = pro.trade_cal(exchange='SZSE', start_date='20190101', end_date='20190321')
df.head()

  exchange  cal_date  is_open
0     SZSE  20190101        0
1     SZSE  20190102        1
2     SZSE  20190103        1
3     SZSE  20190104        1
4     SZSE  20190105        0

# 沪深股通成份股

In [10]:
df = pro.hs_const(hs_type='SH') 
df.head()

     ts_code hs_type   in_date out_date is_new
0  603818.SH      SH  20160613     None      1
1  603108.SH      SH  20161212     None      1
2  600507.SH      SH  20141117     None      1
3  601377.SH      SH  20141117     None      1
4  600309.SH      SH  20141117     None      1

# 股票曾用名

In [11]:
df = pro.namechange(ts_code='000002.SZ')
df

     ts_code  name start_date  end_date ann_date change_reason
0  000002.SZ   万科A   20061009      None     None            摘G
1  000002.SZ  G万科A   20051202  20061008     None          完成股改
2  000002.SZ   万科A   20020315  20051201     None            其他
3  000002.SZ  深万科A   19910129  20020314     None            其他

# 上市公司基本信息

In [17]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

df = pro.stock_company(exchange='SSE')
df.head()

df_SZSE = pro.stock_company(exchange='SZSE')
df_SZSE.head()

,ts_code,exchange,chairman,manager,secretary,reg_capital,setup_date,province,city,website,email,employees
0,600000.SH,SSE,高国富,刘信义,谢伟,2.935208e+06,19921019,上海,上海市,www.spdb.com.cn,Yanggp@spdb.com.cn;wur2@spdb.com.cn;bdo@spdb.c...,52551.0
1,600001.SH,SSE,李贵阳,张延卿,陈占军,2.816457e+05,19980120,河北,邯郸市,www.hdgt.com.cn,hdgt@mail.hgjt.com.cn,17986.0
2,600002.SH,SSE,张瑞生,王浩水,李风安,1.950000e+05,19980318,山东,淄博市,www.qilu.com.cn,lifan@qilu.com.cn;baoweisong@tom.com;qlsh60000...,10329.0
3,600003.SH,SSE,孙熠嵩,韩增义,戴琦,1.213200e+05,19990721,吉林,长春市,www.northeast-expressway.cn,dbgs@vip.sina.com,844.0
4,600005.SH,SSE,马国强,邹继新,李海涛,1.009378e+06,19971107,湖北,武汉市,www.wisco.com.cn,wiscl@wisco.com.cn,27328.0

,ts_code,exchange,chairman,manager,secretary,reg_capital,setup_date,province,city,website,email,employees
0,000001.SZ,SZSE,谢永林,胡跃飞,周强,1.717041e+06,19871222,广东,深圳市,www.bank.pingan.com,pabdsh@pingan.com.cn,33708.0
1,000002.SZ,SZSE,郁亮,祝九胜,朱旭,1.103915e+06,19840530,广东,深圳市,www.vanke.com,ir@vanke.com;peterluk@vanke.com,92764.0
2,000003.SZ,SZSE,马钟鸿,马钟鸿,安汪,4.001203e+04,19880310,广东,深圳市,None,Regintian@163.com,200.0
3,000004.SZ,SZSE,李林琳,李林琳,徐文苏,8.397668e+03,19860505,广东,深圳市,www.sz000004.cn,gnkjsz@163.com;jyz6187@qq.com;xuliruan@hotmail...,172.0
4,000005.SZ,SZSE,丁芃,郑列列,罗晓春,1.058537e+05,19890508,广东,深圳市,www.fountain.com.cn,fountain@sfc.com.cn;xiaochun@sfc.com.cn,705.0

# IPO 新股上市

In [19]:
df = pro.new_share(start_date="20190101", end_date="20190321")
df

,ts_code,sub_code,name,ipo_date,issue_date,amount,market_amount,price,pe,limit_amount,funds,ballot
0,603379.SH,732379,三美股份,20190321,nan,5973.0,1792.0,32.43,13.06,1.70,19.372,0.00
1,002952.SZ,002952,亚世光电,20190318,nan,1826.0,1372.0,31.14,22.99,0.65,4.746,0.02
2,300767.SZ,300767,震安科技,20190314,nan,2000.0,2000.0,19.19,13.95,2.00,3.838,0.02
3,603681.SH,732681,永冠新材,20190314,nan,4165.0,3748.0,10.00,22.98,1.60,4.165,0.04
4,002958.SZ,002958,青农商行,20190313,nan,55556.0,50000.0,3.96,10.74,16.65,0.000,0.19
5,300765.SZ,300765,新诺威,20190313,20190322,5000.0,4500.0,24.47,22.99,2.00,12.235,0.04
6,300766.SZ,300766,每日互动,20190312,nan,4010.0,3609.0,13.08,22.98,1.20,5.245,0.04
7,300763.SZ,300763,锦浪科技,20190308,20190319,2000.0,2000.0,26.64,19.68,2.00,5.328,0.02
8,002951.SZ,002951,金时科技,20190306,20190315,4500.0,4050.0,9.94,22.99,1.35,4.473,0.04
9,300762.SZ,300762,上海瀚讯,20190305,20190314,3336.0,3002.0,16.28,22.99,1.30,5.431,0.03
10,002950.SZ,002950,奥美医疗,20190227,20190311,4800.0,4320.0,11.03,22.03,1.40,5.294,0.04
11,600928.SH,730928,西安银行,20190219,20190301,44444.0,40000.0,4.68,10.28,13.30,20.800,0.21
12,300758.SZ,300758,七彩化学,20190213,20190222,2668.0,2401.0,22.09,22.99,1.05,5.894,0.03
13,002949.SZ,002949,华阳国际,20190213,20190226,4903.0,4413.0,10.51,22.99,1.95,5.153,0.04
14,603956.SH,732956,威派格,20190212,20190222,4260.0,3834.0,5.70,22.97,1.20,2.428,0.05
15,300761.SZ,300761,立华股份,20190130,20190218,4128.0,3715.0,29.35,16.05,1.20,12.116,0.05
16,601865.SH,780865,福莱特,20190129,20190215,15000.0,13500.0,2.00,9.56,4.50,3.000,0.10
17,002947.SZ,002947,恒铭达,20190123,20190201,3038.0,2734.0,18.72,22.99,1.20,5.687,0.03
18,300755.SZ,300755,华致酒行,20190117,20190129,5789.0,5210.0,16.79,22.98,2.30,9.720,0.05
19,002946.SZ,002946,新乳业,20190116,20190125,8537.0,7683.0,5.45,22.96,2.55,4.653,0.06
20,603351.SH,732351,威尔药业,20190116,20190130,1667.0,1667.0,35.50,22.99,1.60,5.917,0.02
21,300759.SZ,300759,康龙化成,20190115,20190128,6563.0,5907.0,7.66,22.99,1.95,5.027,0.06
22,601615.SH,780615,明阳智能,20190111,20190123,27590.0,24831.0,4.75,22.96,8.20,13.105,0.15
23,603700.SH,732700,宁波水表,20190110,20190122,3909.0,3518.0,16.63,22.98,1.50,6.501,0.04
24,601298.SH,780298,青岛港,20190109,20190121,45438.0,40894.0,4.61,10.51,13.60,20.947,0.22
25,002945.SZ,002945,华林证券,20190108,20190117,27000.0,24300.0,3.62,22.98,8.10,0.000,0.14
26,002948.SZ,002948,青岛银行,20190104,20190116,45098.0,40588.0,4.52,10.81,13.50,20.384,0.21
27,603332.SH,732332,苏州龙杰,20190104,20190117,2974.0,2676.0,19.44,18.95,1.10,5.780,0.04
28,603739.SH,732739,蔚蓝生物,20190103,20190116,3867.0,3481.0,10.19,22.99,1.40,3.940,0.04