# 初始化

> pip install tushare --upgrade

In [2]:
import tushare

print(tushare.__version__)

1.2.21

# 通过Python SDK 调取数据

In [35]:
import tushare as ts
# 这里注意， tushare版本需大于1.2.10

ts.set_token('cb74aafc64295431cf45e92eb36733a708116dfccf1cb507a2b922c1')

pro = ts.pro_api()

df = pro.trade_cal(exchange='', start_date='20181201', end_date='20190115', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')
df

   exchange  cal_date  is_open pretrade_date
0       SSE  20181201        0      20181130
1       SSE  20181202        0      20181130
2       SSE  20181208        0      20181207
3       SSE  20181209        0      20181207
4       SSE  20181215        0      20181214
5       SSE  20181216        0      20181214
6       SSE  20181222        0      20181221
7       SSE  20181223        0      20181221
8       SSE  20181229        0      20181228
9       SSE  20181230        0      20181228
10      SSE  20181231        0      20181228
11      SSE  20190101        0      20181228
12      SSE  20190105        0      20190104
13      SSE  20190106        0      20190104
14      SSE  20190112        0      20190111
15      SSE  20190113        0      20190111

In [27]:
df = pro.query('coinlist', start_date='20170101', end_date='20171231')
df.head()

    coin            en_name cn_name issue_date        amount
0  PYLNT              Pylon    None   20171231  6.338580e+05
1    hlc         HalalChain   绿色食品链   20171230  1.000000e+09
2    qlc              Qlink    None   20171230  6.000000e+08
3     XP  Experience Points    None   20171230  2.683600e+11
4    CHT      CoinHot Token      热币   20171230  3.692800e+08

In [26]:
df = pro.query('coinpair', exchange='huobi', trade_date='20180802')
df.head()

  trade_date exchange exchange_pair  ts_pair
0   20180802    huobi       btcusdt  btcusdt
1   20180802    huobi       bchusdt  bchusdt
2   20180802    huobi       ethusdt  ethusdt
3   20180802    huobi       etcusdt  etcusdt
4   20180802    huobi       ltcusdt  ltcusdt

In [25]:
df = pro.coinexchanges(area_code='cn')
df.head()

       exchange          name  pairs area_code coin_trade fut_trade oct_trade
0       lakebtc       LakeBTC     10        cn          Y         N         N
1  ripple-china  Ripple China      2        cn          Y         N         N
2       tidebit       Tidebit     10        cn          Y         N         N

In [24]:
df = pro.coincap(trade_date='20190115')
df.head()

,trade_date,coin,name,marketcap,vol24,create_time
0,20190115,BTC,BTC Bitcoin,6.460840e+10,5524622399,2019-01-15 14:59:06
1,20190115,XRP,XRP XRP,1.364175e+10,479350022,2019-01-15 14:59:06
2,20190115,ETH,ETH Ethereum,1.344849e+10,2741810200,2019-01-15 14:59:06
3,20190115,BCH,BCH Bitcoin Cash,2.312906e+09,207102178,2019-01-15 14:59:06
4,20190115,EOS,EOS EOS,2.216999e+09,708870465,2019-01-15 14:59:06

In [29]:
df = pro.coinbar(exchange='huobi', symbol='btcusdt', freq='1min', start_date='20180801', end_date='20180802')

Exception: 抱歉，您没有权限访问该接口，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [33]:
df = pro.coinfees(exchange='huobi')
df.head(50)

  exchange level maker_fee taker_fee asset_type
0    huobi  VIP0     0.002     0.002       coin
1    huobi  VIP1    0.0018    0.0018       coin
2    huobi  VIP2    0.0016    0.0016       coin
3    huobi  VIP3    0.0014    0.0014       coin
4    huobi  VIP4    0.0012    0.0012       coin
5    huobi  VIP5     0.001     0.001       coin